/*
 * Ever After Theme - Pace Preloader
 * Version: 1.0.0
 *
 * Author: Chris Rivers
 * xxcriversxx@gmail.com
 *
 * Changelog: 
 * Version: 1.0.0
 *  Init Build
 *
 */

/* Custom Pace Styles 
---------------------------*/
.slide { opacity: 0; }
.pace-running .slide, .pace-running #header, .pace-running #footer { opacity: 0; }

.pace-done #header, .pace-done #footer { opacity: 1; }
.pace-done .slide {
  	opacity: 1;
	transition: opacity 1.25s ease-in-out;
	-moz-transition: opacity 1.25s ease-in-out;
	-webkit-transition: opacity 1.25s ease-in-out;
}

/* Intro Effects - (Optional) 
----------------------------------*/
.intro-effect-layers img { 
	left:0; 
	position:relative; 
	top:300px; 
	
	-webkit-transform:rotate(0deg) scale(14);
	-moz-transform:rotate(0deg) scale(14);
	-o-transform:rotate(0deg) scale(14);
	-ms-transform:rotate(0deg) scale(14);
	transform:rotate(0deg) scale(14);
}

.pace-done .intro-effect-layers .img-1 {
	top:-378px;
	
	transition: all 2.7s ease-in-out;
	-moz-transition: all 2.7s ease-in-out;
	-webkit-transition: all 2.7s ease-in-out;
	
	-webkit-transform: rotate(360deg) scale(1);
	-moz-transform: rotate(360deg) scale(1);
	-o-transform: rotate(360deg) scale(1);
	-ms-transform: rotate(360deg) scale(1);
	transform: rotate(360deg) scale(1);
}

.pace-done .intro-effect-layers .img-2 {
	left:400px;
	top:-180px;
	
	transition: all 4.7s ease-in-out;
	-moz-transition: all 4.7s ease-in-out;
	-webkit-transition: all 4.7s ease-in-out;
	
	-webkit-transform: rotate(160deg) scale(1);
	-moz-transform: rotate(160deg) scale(1);
	-o-transform: rotate(160deg) scale(1);
	-ms-transform: rotate(160deg) scale(1);
	transform: rotate(160deg) scale(1);
}

/* Base Pace Styles 
------------------------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-perspective: 12rem;
  -moz-perspective: 12rem;
  -ms-perspective: 12rem;
  -o-perspective: 12rem;
  perspective: 12rem;

  z-index: 2000;
  position: fixed;
  height: 6rem;
  width: 6rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 4rem;
  width: 4rem !important;
  line-height: 4rem;
  font-size: 20px;
  border-radius: 50%;
  background: #a00000;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  text-align: center;

  -webkit-animation: pace-3d-spinner linear infinite 2s;
  -moz-animation: pace-3d-spinner linear infinite 2s;
  -ms-animation: pace-3d-spinner linear infinite 2s;
  -o-animation: pace-3d-spinner linear infinite 2s;
  animation: pace-3d-spinner linear infinite 2s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}

@-webkit-keyframes pace-3d-spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}

@-moz-keyframes pace-3d-spinner {
  from {
    -moz-transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(360deg);
  }
}

@-ms-keyframes pace-3d-spinner {
  from {
    -ms-transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
  }
}

@-o-keyframes pace-3d-spinner {
  from {
    -o-transform: rotateY(0deg);
  }
  to {
    -o-transform: rotateY(360deg);
  }
}

@keyframes pace-3d-spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}